html {
    height:100%;
}

body {
    display: flex;
    flex-flow: column;
    height:100%;
}

h1 {
    font-family: 'Bad Script';
    font-size: 40px;
}

h3 {
    font-family: 'Tangerine';
    font-size: xx-large;
    display: flex;
    justify-content: flex-end;
}

.main_panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    flex-grow: 1;
    color: #6a608b;
}

.menuButton {
    height: 24px;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(203, 174, 208);
    font-family: 'Montserrat';
}

.menuButton:hover {
    cursor: pointer;
}

.quotes_section {
    max-width: 800px;
}

.debug {
    border-style: dashed;
    border-width: thin;
    border-color: red;
}

.buttons_section {
    display: flex;
    width: 100%;
}

#quotes_source {
    color: #607D8B;
}
